#drawings-chart{
    margin-top: 80px;
}

.no-data {
    text-align: center;
    font-size: 18px;
    color: #888;
    background-color: #f8f8f8;
    padding: 16px;
    border: 1px dashed #ccc;
    border-radius: 10px;
    margin-top: 20px;
  }


  