.error-code-container {
  position: relative; /* Needed for absolute positioning of close button */
    height: 30px;
    margin: 0px 20px 20px 0px;
    display: inline-flex; /* Use inline-flex to allow other content to flow around it */
    align-items: center; /* Vertically center the code and bubble */
    border: 1px solid #BABABA; /* Add a border to the container */
    background-color: #F5F5F5;
    border-radius: 8px; /* Rounded corners */
    padding: 3px 16px; /* Adjust padding as needed */
    white-space: nowrap; /* Prevent the content from wrapping */
  }
  
  
  
  .count-bubble {
    display: inline-flex;  /* Use inline-flex to align text inside */
    justify-content: center;  /* Center the text horizontally */
    align-items: center;  /* Center the text vertically */
    width: 24px;  /* Set the width of the circle */
    height: 24px;  /* Set the height of the circle */
    border-radius: 50%;  /* This makes the span a circle */
    background-color: #0087CB;  /* Set the background color */
    color: white;  /* Set the text color */
    font-size: 14px;  /* Set a suitable font size */
    overflow: hidden;  /* Ensure the text doesn't overflow outside the circle */
    text-align: center;  /* Align text center */
    line-height: 30px;  /* Make sure the text is vertically centered */
    min-width: 24px;  /* Ensures minimum width for small values */
    min-height: 24px;
    margin-left: 10px;
  }







  // .error-code-container {
  //   position: relative; /* Needed for absolute positioning of close button */
  //   height: 30px;
  //   margin: 0px 20px 20px 0px;
  //   display: inline-flex;
  //   align-items: center;
  //   border: 1px solid #BABABA;
  //   background-color: #F5F5F5;
  //   border-radius: 8px;
  //   padding: 3px 16px;
  //   white-space: nowrap;
  // }
  
  /* Close button styling */
  .close-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cecece;
    color: white;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease-in-out;
  }
  
  .error-code-container:hover .close-btn {
    opacity: 1; /* Show on hover */
  }
  
  /* Hover effect for better UX */
  // .close-btn:hover {
  //   background-color: #d8d7d7;
  // }